@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap&subset=cyrillic');
@import "fonts.css";

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: 'Intro', monospace;
    background-color: #ff9d91;
}
.hero {
    height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    position: fixed;
    left: 4%;
    right: 4%;
    
}
.hero__img {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.hero__img__up img,
.hero__img__down img {
    background-color:  #ff9d91;
    padding: 0% 9% 0% 9%;
    width: 100%;
}
.hero__img__down img {
    margin-bottom: -1%;
}
.desktop-third,
.tablet,
.phone,
.phone-second,
.phone-small {
    display: none;
}
.hero__text {
    position: absolute;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 1%;
}
.hero__text__up,
.hero__text__down {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'Open Sans',sans-serif;
    font-size: 28px;
    line-height: 27px;
}
.down__list__item a,
.text__down__block a{
    text-decoration: none;
    font-weight: bold;
    color: #FFF6E5;
}
.text__down__block:last-of-type {
    width: 11vw;
}
.text__down__block:first-of-type p {
    margin-bottom: 5px;
}
.down__list__socials {
    display: flex;
}
.list__socials__item img {
    width: 2.3vw;
}
.list__item__block p {
    margin-bottom: 5px;
}
.list__item__block p {
    margin-bottom: 5px;
}
.list__socials__item {
    margin-right: 18px;
}
.content {
    margin: 0 auto;
    width: 60vw;
    padding-top: 8%;
}
.content__first__up,
.content__first__down {
    display: flex;
}
.content__first__up {
    position: relative;
    z-index: -1;
}
.splashes-img,
.splashes-right {
    position: absolute;
    z-index: -1;
}
.splashes-img {
    margin-left: 7%;
    width: 10vw;
}
.splashes-right {
    right: 17%;
    width: 3vw;
}
h1 {
    font-size: 5.5vw;
    color: #ff6152;
    line-height: 108%;
    transform: matrix(0.87, -0.45, 0.47, 0.9, 0, 0);
    z-index: -1;
    margin-top: 4%;
}
h1:after {
    position: absolute;
    content:"Конфетный магазин идей";
    color:white;
    right: 1%;
    bottom: 0%;
    left: -1%;
}
.content__first__down {
    position: relative;
    z-index: -1;
}
.sweets-small {
    position: absolute;
    z-index: -1;
    width: 5vw;
}
.sweets-small:first-of-type {
    top: -26%;
    transform: rotate(-27deg);
}
.sweets-small:nth-of-type(2) {
    top: 62%;
    transform: rotate(-67deg);
}
.sweets-small:nth-of-type(3) {
    left: 47%;
    top: 43%;
    width: 7vw;
}
.sweets-small:nth-of-type(4) {
    right: 20%;
    top: 20%;
    transform: rotate(-67deg);
}
.candy-img {
    width: 80%;
    margin: 0 auto;
    margin-right: -4%;
    margin-top: -10%;
}
.arrow {
    position: absolute;
    z-index: -1;
    right: -4%;
    top: 38%;
    width: 5vw;
}
.content__second {
    margin-top: -7%;
}
.second__block {
    display: flex;
}
.second__block:first-of-type {
    position: relative;
    margin-top: -7%;
    width: 70vw;
    margin: 0 auto;
}
.bable {
    position: absolute;
    z-index: -2;
    top: 19%;
    left: -5%;
}
.group-candies-img  {
    margin-left: 19%;
    z-index: -3;
    width: 78%;
}
.dino-img {
    width: 42vw;
}
.bable p {
    font-size: 2.6vw;
    color: #1223aa;
    position: absolute;
    top: 13%;
    left: 17%;
}
.second__block:nth-of-type(2) {
   position: relative;
   z-index: -1;
   
}
.second__block__group {
    position: absolute;
    z-index: -1;
    top: -173%;
    left: 7%;
}
.tube-img {
    z-index: -3;
    position: absolute;
    top: 47%;
}
.lightning {
    margin: 0 auto;
    margin-right: 0;
    position: relative;
    z-index: -1;
    margin-top: -16%;
    right: -6%;
}
.lightning__list {
    position: absolute;
    left: 27%;
    top: 15%;
    font-size: 2vw;
    color: #1223aa;
    text-align: center;
}
.lightning__list__item {
    margin-bottom: 5vh;
    transform: rotate(2deg);
}
.lightning__list__item:first-of-type {
    margin-left: 20%;
}
.lightning__list__item:last-of-type {
    margin-right: 53%;
}
.lightning-img {
    width: 24vw;
}
.second__block:nth-of-type(3) {
    position: relative;
    z-index: -1;
    flex-direction: row-reverse;
 }
.candy-style-img {
    position: absolute;
    z-index: -1;
    top: -21%;
    left: 14%;
}
.second__block__lips {
    display: flex;
    margin: 0 auto;
    margin-right: 0;
    margin-right: -11%;
    margin-top: -6%;
}
.small-candy {
    width: 7vw;
    position: absolute;
    bottom: 29%;
}
.lips-img {
    width: 30vw;
}
.block__sign {
    position: absolute;
    left: 0;
    top: 23%;
}
.sign-img {
    width: 33vw;
}
.block__sign p {
    font-size: 2vw;
    color: #1223aa;
    transform: rotate(23.55deg);
    position: absolute;
    top: 44%;
    left: 21%;
}
.second__block:nth-of-type(4) {
    flex-direction: row-reverse;
    position: relative;
    z-index: -1;
}
.block__eye {
    position: absolute;
    right: 0;
    top: -24%;
    z-index: -1;
}
.eye__list {
    font-size: 2vw;
    color: #1223aa;
    position: absolute;
    top: 53%;
    left: 13%;
    transform: rotate(20.46deg)
}
.eye-blue-img {
   margin: 0 auto;
   margin-left: 0;
   margin-top: 6%;
}
.eye-white-img,
.eye-blue-img {
    width: 26vw;
}
.eye-candy {
    position: absolute;
    width: 5vw;
}
.eye-candy:nth-of-type(3),
.eye-candy:last-of-type {
    bottom: 0;
}
.eye-candy:nth-of-type(3) {
    bottom: 18%;
    left: 50%;
    transform: rotate(-179deg);
}
.eye-candy:first-of-type {
    left: 13%;
    transform: rotate(-35deg);
}
.eye-candy:last-of-type {
    bottom: -16%;
    transform: rotate(86deg);
}
.arrow-reverse-img {
    margin-left: 4%;
    width: 6vw;
}
.content__third {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    padding-bottom: 29%;
}
.welcome-img {
    width: 32vw;
}
.lamp-img {
    width: 22vw;
}
@media (max-width:1440px) {
    .tablet,
    .phone,
    .phone-second,
    .phone-small {
        display: none;
    }
    .hero__text__up,
    .hero__text__down {
        font-size: 18px;
        line-height: 17px;
    }
    .hero__img__up,
    .hero__img__down {
        background-color:  #ff9d91;
    }
    .hero__img__up img,
    .hero__img__down img {
        width: 90%;
        padding: 0 4%;
    }
    .content {
        padding-top: 10%;
    }
    .sweets-small:nth-of-type(3) {
        top: 36%;
    }
    .sweets-small:nth-of-type(2) {
        top: 49%; 
    }
    .arrow {
        top: 36%;
        width: 4vw;
    }
}
@media (max-width: 1024px) {
    .desktop,
    .tablet,
    .phone,
    .phone-second,
    .phone-small {
        display: none;
    }
    .desktop-third {
        display: block;
    }
    .hero__img__up img, 
    .hero__img__down img {
        width: 100%;
        padding: 0 10%;
    }
    .content {
        padding-top: 17%;
    }
    h1 {
        font-size: 6vw;
    }
    .splashes-right {
        right: 8%;
        transform: rotate(26deg);
    }
    .sweets-small:first-of-type {
       top: -29%;
    }
    .sweets-small:nth-of-type(3) {
        left: 41%;
    }
    .candy-img {
        width: 89%;
    }
    .bable {
        top: 23%;
        left: 2%;
    }
    .lightning {
        margin-top: -5%;
        right: 0%;
    }
    .lightning__list__item {
        margin-bottom: 4vh;
    }
    .candy-style-img {
        top: -41%;
        left: 16%;
    }
    .second__block__lips {
        transform: rotate(23deg);
    }
    .block__sign {
        top: 9%;
        transform: rotate(5deg);
    }
    .block__eye {
        top: -40%;
        right: 10%;
    }
    .content__third {
        padding-bottom: 40%;
    }
    .welcome-img {
        width: 38vw;
    }
    .lamp-img {
        width: 28vw;
    }
}
@media (max-width: 768px) {
    .hero {
        width: 87vw;
    }
    .hero__text {
        padding: 4% 1%;
    }
    .hero__text__up, 
    .hero__text__down {
        width: 87vw;
    }
    .hero__text__up {
        padding: 3% 0;
    }
    .text__down__block:last-of-type {
        width: 19vw; 
    }
    .desktop,
    .desktop-third,
    .phone,
    .phone-second,
    .phone-small {
        display: none;
    }
    .tablet {
        display: block;
    }
    .list__socials__item {
        margin-right: 14px;
    }
    .list__socials__item img {
        width: 5vw;
    }
    .text__down__block:first-of-type p {
        margin-bottom: 20px;
    }
    .content {
        padding-top: 29%;
    }
    .splashes-right {
        top: -51%;
        right: 3%;
    }
    .splashes-img {
        top: -29%;
    }
    h1 {
        font-size: 7vw;
        line-height: 50px;
    }
    .sweets-small:first-of-type {
        top: -36%;
    }
    .sweets-small:nth-of-type(2) {
        top: 47%;
    }
    .sweets-small:nth-of-type(3) {
        top: 39%;
        left: 41%;
    }
    .sweets-small:nth-of-type(4) {
        right: -1%;
        top: -28%;
        transform: rotate(-31deg);
    }
    .candy-img {
        width: 100%;
        margin-right: -11%;
    }
    .bable {
        top: 27%;
        left: -12%;
        transform: rotate(-4deg);
    }
    .bable p {
        top: 15%;
    }
    .dino-img {
        width: 48vw;
    }
    .group-candies-img {
        margin-left: -2%;
        width: 106%;
    }
    .lightning {
        margin-top: -4%;
        right: -4%;
    }
    .lightning__list {
        font-size: 3vw;
        top: 17%;
    }
    .lightning__list__item {
        margin-bottom: 3vh;
    }
    .lightning-img {
        width: 35vw;
    }
    .candy-style-img {
        top: -62%;
        left: 4%;
        transform:  rotate(6deg);
    }
    .second__block__lips {
        transform: rotate(19deg);
    }
    .second__block__lips .small-candy {
        display: none;
    }
    .lips-img {
        width: 35vw;
    }
    .block__sign {
        top: 41%;
        left: -6%;
    }
    .sign-img {
        width: 39vw;
    }
    .block__eye {
        top: 7%;
        right: -3%;
    }
    .eye-white-img,
    .eye-blue-img {
        width: 34vw;
    }
    .eye-blue-img {
        margin-top: 42%;
        margin-left: -8%;
    }
    .eye-candy {
        width: 8vw;
    }
    .eye-candy:nth-of-type(3) {
        bottom: 10%;
        left: 56%;
    }
    .eye-candy:last-of-type {
        bottom: -27%;
    }
    .arrow-reverse-img {
        margin-top: 8%;
    }
    .welcome-img {
        width: 55vw;
    }
    .lamp-img {
        width: 39vw;
    }
    .content__third {
        padding-bottom: 96%;
    }
}
@media (max-width:425px) {
    .hero {
        width: 95vw;
    }
    .desktop,
   .desktop-third,
   .tablet,
   .phone-second,
   .phone-small {
       display: none;
   }
   .phone {
       display: block;
   }
    .hero__text__up,
    .hero__text__down {
        width: 95vw;
    }
    .hero__text__up div:first-of-type {
        margin-left: -10%;
    }
    .hero__text__up div:last-of-type {
        margin-right: -10%;
    }
    .down__list__socials {
        display: flex;
        flex-direction: column;
    }
    .down__list__item:last-of-type {
        transform: rotate(90deg);
    }
    .hero__text,
    .hero__text__up {
        padding: 0;
    }
    .hero__text__up {
        padding-top: 17%;
    }
    .text__down__block {
        margin-bottom: 2%;
        margin-right: -5%;
    }
    .text__down__block p {
        display: none;
    }
    .hero__text__up div,
    .text__down__block:last-of-type {
        transform: rotate(90deg);
    }
    .text__down__block:last-of-type {
        margin-bottom: 16%;
    }
    .list__socials__item {
        margin-right: 0;
        margin-bottom: 8px;
    }
    .list__socials__item img {
        width: 7vw;
    }
    .content {
        padding-top: 37%;
    }
    .splashes-img {
        top: -13%;
    }
    h1 {
        line-height: 30px;
    }
    .splashes-right {
        right: 8%;
    }
    .candy-img {
        margin-right: 0;
        margin-left: -3%;
        width: 132%;
    }
    .content__second {
        margin-top: 1%;
    }
    .sweets-small:nth-of-type(2) {
        top: 34%;
    }
    .sweets-small {
        width: 8vw;
    }
    .arrow {
        top: 75%;
        width: 7vw;
        transform: rotate(20deg);
    }
    .group-candies-img {
        margin-left: -9%;
        width: 117%;
    }
    .bable {
        top: 29%;
        left: -16%;
    }
    .bable p {
        top: 14%;
        font-size: 3.6vw; 
    }
    .dino-img {
        width: 55vw; 
    }
    .lightning__list {
        left: 25%;
        font-size: 3.6vw;
    }
    .lightning-img {
        width: 40vw;
    }
    .second__block__lips {
        margin-right: -19%;
    }
    .lips-img {
        width: 40vw;
    }
    .block__sign {
        top: 49%; 
    }
    .block__sign p {
        font-size: 2.8vw;
        top: 48%;
    }
    .sign-img {
        width: 43vw;
    }
    .second__block:nth-of-type(4) {
        margin-top: 19%;
    }
    .eye-white-img {
        width: 38vw;
    }
    .eye-blue-img {
        margin-top: 28%;
    }
}
@media (max-width: 414px) {
    .desktop,
    .desktop-third,
    .tablet,
    .phone,
    .phone-small {
        display: none;
    }
    .phone-second {
        display: block;
    }
}
@media (max-width: 375px){
    .hero__text__up {
        margin-top: 7%;
    }
    .text__down__block {
        margin-bottom: 8%;
    }
}
@media (max-width: 320px) {
    .desktop,
    .desktop-third,
    .tablet,
    .phone,
    .phone-second {
        display: none;
    }
    .phone-small {
        display: block;
    }
    .text__down__block:last-of-type {
        margin-bottom: 31%;
    }
}

